<div class="topic-index-wrapper">
  <div class="container">
    <%= @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
            <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id),method: :post do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
              <% end %>
            <% end %>
            <h3 class="comment-author">コメント</h3>
            <% if !Comment.all.includes(:topic_id) %>
              <%= @comment.each do |comment| %>
                <p class="comment-text">
                  <%= comment.body %>
                </p>
              <% end %>
            <% end %>
            <%= form_for Comment.new, url: topic_comments_path(:topic_id) do |f| %>
              <%= f.text_area :body %>
              <%= f.submit '送信', class: 'btn btn-black btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
