<!DOCTYPE html>
<html>
  <head>
    <title>Pictgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag 'icons/logo.png',class: 'navbar-brand' %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to '#' do %>
                <%= image_tag 'icons/heart.png' %>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path do %>
                <%= image_tag 'icons/camera.png' %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag 'icons/logout.png' %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <%= image_tag 'icons/register.png' %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag 'icons/login.png' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-success text-white">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger text-white">
        <% flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
